* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.box {
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35, 35, 35);
  width: 620px;
  border-radius: 40px 40px 0px 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
/* .box > div:nth-child(1),
.box > div:nth-child(2),
.box > div:nth-child(3),
.box > div:nth-child(4),
.box > div:nth-child(5),
.box > div:nth-child(6),
.box > div:nth-child(7) {
  margin-top: 5px;
} */

/* .box > div:nth-child(36),
.box > div:nth-child(37),
.box > div:nth-child(38),
.box > div:nth-child(39),
.box > div:nth-child(40),
.box > div:nth-child(41),
.box > div:nth-child(42) {
  margin-bottom: 5px;
} */
.red-ball {
  position: absolute;
  top: 0;
  left: 44%;
  right: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid rgb(48, 47, 47);
  transition: all 0.9s ease-in-out;
  z-index: 1000;
}
.blue-ball {
  position: absolute;
  top: 0;
  left: 44%;
  right: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  border: 2px solid rgb(48, 47, 47);
  transition: all 0.9s ease-in-out;
  z-index: 1000;
}
.row-styles {
  display: flex;
}
.col-styles {
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightgray;
  border: 2px solid rgb(48, 47, 47);
}
